{% extends "base.html" %}
{% block content %}
   	<div class="navbar navbar-default navbar-xs navbar-component">
		<ul class="nav navbar-nav no-border visible-xs-block">
			<li><a class="text-center collapsed" data-toggle="collapse" data-target="#navbar-filter"><i class="icon-menu7"></i></a></li>
		</ul>
		<div class="navbar-collapse collapse" id="navbar-filter">
			<p class="navbar-text">Шүүх:</p>
			<ul class="nav navbar-nav">
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-sort-time-asc position-left"></i> Огноо <span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a href="#">Бүгдийг харуулах</a></li>
						<li class="divider"></li>
						<li><a href="#">Шинэ</a></li>
						<li><a href="#">Хамгийн их авсан</a></li>
					</ul>
				</li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-sort-amount-desc position-left"></i> Байгууллагаар <span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a href="#">Бүгд</a></li>
						<li class="divider"></li>
						<li><a href="#">Addidas</a></li>
						<li><a href="#">Наранмалл</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</div>

	<div class="row">
		<div class="col-md-6">
			<div class="panel border-left-lg border-left-primary">
				<div class="panel-body">
					<div class="row">
						<div class="col-md-3">
							<div class="thumbnail" style="margin-bottom:0px">
								<div class="thumb">
									<img src="assets/images/placeholder.jpg" alt="">
									<div class="caption-overflow">
										<span>
											<a href="assets/images/placeholder.jpg" data-popup="lightbox" rel="gallery" class="btn border-white text-white btn-flat btn-icon btn-rounded"><i class="icon-plus3"></i></a>
											<a href="#" class="btn border-white text-white btn-flat btn-icon btn-rounded "><i class="icon-link2"></i></a>
										</span>
									</div>
								</div>
							</div>
						</div>
						 
						<div class="col-md-5">
							<h6 class="no-margin-top"><a href="task_manager_detailed.html">#24. Cover зургаа 7 хоног солиод 50% хямдрал аваарай</a></h6>
							<p class="mb-15">One morning, when Gregor Samsa woke from troubled..</p>

		                	<a href="#"><img src="assets/images/placeholder.jpg" class="img-circle img-xs" alt=""></a>
		                	<a href="#"><img src="assets/images/placeholder.jpg" class="img-circle img-xs" alt=""></a>
		                	<a href="#"><img src="assets/images/placeholder.jpg" class="img-circle img-xs" alt=""></a>
		                	<a href="#" class="text-default">&nbsp;<i class="icon-plus22"></i></a>
						</div>

						<div class="col-md-4">
							<ul class="list task-details">
								<li>28 January, 2015</li>
								<li class="dropdown">
									<a href="#" class="label label-primary dropdown-toggle" data-toggle="dropdown">Cover зураг</a><br/>
									<a href="#" class="label label-success dropdown-toggle" data-toggle="dropdown">Profile зураг</a>
								</li>
								<li><a href="#">7 хоног байршуулах</a></li>
							</ul>
							<button type="button" class="btn btn-success" style="float:right; margin-top:20px"><i class="icon-check position-left"></i> Идэвхжүүлэх</button>
						</div>
					</div>
				</div>
				<div class="panel-footer">
					<ul>
						<li>Үлдсэн хугацаа: <span class="text-semibold">23 цаг</span></li>
					</ul>
					<ul class="pull-right">
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">Нийт : 1400 идэвхжүүлсэн  <span class="caret"></span></a>
							<ul class="dropdown-menu dropdown-menu-right">
								<li><a href="#">Таны найз 45</a></li>
								<li><a href="#">Найзын найз 130</a></li>
							</ul>
						</li>
					</ul>

				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="panel border-left-lg border-left-primary">
				<div class="panel-body">
					<div class="row">
						<div class="col-md-3">
							<div class="thumbnail" style="margin-bottom:0px">
								<div class="thumb">
									<img src="assets/images/placeholder.jpg" alt="">
									<div class="caption-overflow">
										<span>
											<a href="assets/images/placeholder.jpg" data-popup="lightbox" rel="gallery" class="btn border-white text-white btn-flat btn-icon btn-rounded"><i class="icon-plus3"></i></a>
											<a href="#" class="btn border-white text-white btn-flat btn-icon btn-rounded "><i class="icon-link2"></i></a>
										</span>
									</div>
								</div>
							</div>
						</div>
						 
						<div class="col-md-5">
							<h6 class="no-margin-top"><a href="task_manager_detailed.html">#24. Cover зургаа 7 хоног солиод 50% хямдрал аваарай</a></h6>
							<p class="mb-15">One morning, when Gregor Samsa woke from troubled..</p>

		                	<a href="#"><img src="assets/images/placeholder.jpg" class="img-circle img-xs" alt=""></a>
		                	<a href="#"><img src="assets/images/placeholder.jpg" class="img-circle img-xs" alt=""></a>
		                	<a href="#"><img src="assets/images/placeholder.jpg" class="img-circle img-xs" alt=""></a>
		                	<a href="#" class="text-default">&nbsp;<i class="icon-plus22"></i></a>
						</div>

						<div class="col-md-4">
							<ul class="list task-details">
								<li>28 January, 2015</li>
								<li class="dropdown">
									<a href="#" class="label label-info dropdown-toggle" data-toggle="dropdown">Энгийн Post</a><br/>
								</li>
								<li><a href="#">Өдөрт 2 удаа фостлох</a></li>
							</ul>
							<button type="button" class="btn btn-success" style="float:right; margin-top:20px"><i class="icon-check position-left"></i> Идэвхжүүлэх</button>
						</div>
					</div>
				</div>
				<div class="panel-footer">
					<ul>
						<li>Үлдсэн хугацаа: <span class="text-semibold">23 цаг</span></li>
					</ul>
					<ul class="pull-right">
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">Нийт : 1400 идэвхжүүлсэн  <span class="caret"></span></a>
							<ul class="dropdown-menu dropdown-menu-right">
								<li><a href="#">Таны найз 45</a></li>
								<li><a href="#">Найзын найз 130</a></li>
							</ul>
						</li>
					</ul>

				</div>
			</div>
		</div>
	</div>

			
{% endblock %}
